
name: creditpay
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.7.2


dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  verification_code_field: ^1.1.1
  shared_preferences: ^2.5.3
  provider: ^6.1.5+1
  
  
  
  

dev_dependencies:
  
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.14.4

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "images/creditlogo.png"
  adaptive_icon_background: "#142B71"
  adaptive_icon_foreground: "images/creditlogo.png"
  
  flutter_lints: ^5.0.0
  

  
  


flutter:

 
  uses-material-design: true

  
  assets:
    - images/
  

  
  fonts:
    - family: montserrat
      fonts:
        - asset: fonts/montserrat-Regular.ttf
        - asset: fonts/montserrat-Bold.ttf
        - asset: fonts/montserrat-italic.ttf
 
 
